*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit; /* Наследовать цвет родительского элемента */
}

ul,
ol {
  list-style: none; /* Убирает маркеры и номера */
}

button,
input,
textarea,
select {
  font: inherit; /* Убирает стили шрифта по умолчанию */
  border: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto; /* Устанавливает автоматическое изменение размера изображения */
}

fieldset {
  border: none;
  padding: 0;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

blockquote {
  margin: 0;
  padding: 0;
}

code,
pre {
  font-family: monospace;
}

abbr[title] {
  text-decoration: underline dotted;
}
